footer.footer
		.section_in
			.footer-main
				.footer-wrapper
					.footer-wrapper__block
						.footer-main__logo
							ul.colum
								li.logo
									a(href='/')
										img(src='i/logo.svg')
								li ИП Спарт
								li ИНН: 7712345678
								li КПП:  779101001

						.footer-main__block
							.footer-main__chapter
								ul.colum
									li
										a(href='/catalog.html') Каталоги
									li
										a(href='#') Запчасти
									li
										a(href='#') Агрегаты
									li
										a(href='#') Ремонт
									li
										a(href='#') Спецтехника

							.footer-main__info
								ul.colum
									li
										a(href='#') Марки машин
									li
										a(href='#') Экспресс-доставка
									li
										a(href='#') О компании
									li
										a(href='#') Контакты

						.footer-main__contact.colum
							.icon-text-block
								.icon-text-block__icon
									img(src="i/phone-mob.svg")
								.icon-text-block__text
									a(href='#') +7 423 202 55 02
								.icon-text-block__whatsapp
									a(href='#')
										img(src="i/whatsapp.svg")
							.order-a-call
								a(href='#') Заказать звонок

							.icon-text-block.street
								.icon-text-block__icon.street__icon
									img(src="i/flag.svg")
								.block
									.icon-text-block__text г.  Владивосток, Первореченский р-н, ул. Снеговая, д. 64


							.icon-text-block.mail
								.icon-text-block__icon.mail__icon
									img(src="i/mail.svg")
								.icon-text-block__text.mail__text
									a(href='#') spart_spart@yandex.ru


				.footer-rights © ИП Спарт.  Все права защищены. 2025

				.footer-overlay
