footer.footer
	.section_in 
		.footer_main
			nav.footer_nav
				ul.footer_nav__list
					li 
						a(href="#") Atrakciju noma vecpuišu, kopropātīvajiem un pilsētas pasākumiem
					li 
						a(href="#") 
							p Pasākumu organizēšana
							ul.submenu 
								li 
									a(href="#") Idejas pilsētu un novadu svētkiem
								li 
									a(href="#") Zorba volejbols
								li
									a(href="#") Vecmeitu ballītes un dzimšanas dienas idejas. Ūdens zorbings
								li
									a(href="#") Zorbinga trenings darbiniekiem
					li 
						a(href="#")
							p Idejas izklaidei
							ul.submenu 
								li
									a(href="#") Idejas komandu saliedēšanas un sporta spēlēm
								li
									a(href="#") Idejas korporatīviem pasākumiem
								li
									a(href="#") Idejas vecpuišu un vecmeitu ballītēm
								li
									a(href="#") idejas, kā aizņemt bērnu pusaudzi. Basic Outdoor Izdzīvošanas kurss
					li 
						a(href="#") 
							p Idejas Jūsu biznesam
							ul.submenu 
								li 
									a(href="#") Reklāma uz atrakcijam 
					li 
						a(href="#") Personālais transfērs un atrakciju piegāde
			.footer_info
				p (c) Uab SERELTA, LT 304371625, Address: Lielvārdes iela 136, Rīga, LV-1082,
				span +371 29535888, info@zorb.lv
