header.header
	.section_in 
		.header_main
			.header_logo 
				img(src="/i/logo.png", alt="Logotype website")
			nav.header_nav
				ul.header_nav__list
					li 
						a(href="#") Atrakciju noma vecpuišu, kopropātīvajiem un pilsētas pasākumiem
					li 
						a(href="#") 
							p Pasākumu organizēšana
							ul.submenu 
								li 
									a(href="#") Idejas pilsētu un novadu svētkiem
								li 
									a(href="#") Zorba volejbols
								li
									a(href="#") Vecmeitu ballītes un dzimšanas dienas idejas. Ūdens zorbings
								li
									a(href="#") Zorbinga trenings darbiniekiem
					li 
						a(href="#")
							p Idejas izklaidei
							ul.submenu 
								li
									a(href="#") Idejas komandu saliedēšanas un sporta spēlēm
								li
									a(href="#") Idejas korporatīviem pasākumiem
								li
									a(href="#") Idejas vecpuišu un vecmeitu ballītēm
								li
									a(href="#") idejas, kā aizņemt bērnu pusaudzi. Basic Outdoor Izdzīvošanas kurss
					li 
						a(href="#") 
							p Idejas Jūsu biznesam
							ul.submenu 
								li 
									a(href="#") Reklāma uz atrakcijam 
					li 
						a(href="#") Personālais transfērs un atrakciju piegāde
			.header_info 
				ul.lang_list
					li 
						a(href="#")
							img(src="/i/svg/ru.png", alt="Русский")  
					li 
						a(href="#")
							img(src="/i/svg/lv.png", alt="Latviešu valoda")  
					li 
						a(href="#")
							img(src="/i/svg/us.png", alt="English")
				.header_phone 
					a(href="#") (+371)29535888
				.header_email 
					a(href="#") info@zorb.lv
				ul.header_social__list 
					li 
						a(href="#")
							img(src="/i/svg/fb.png", alt="")
					li 
						a(href="#")
							img(src="/i/svg/yt.png", alt="")