header.header
	.header__top
		.section_in 
			.header_top__main 
				ul.header_socials 
					li 
						a(href="#")
							+iconify({ icon: "ic:baseline-whatsapp" })
					li 
						a(href="#")
							+iconify({ icon: "ic:baseline-telegram" })
				ul.header_contacts 
					li 
						a(href="#")
							+iconify({ icon: "ic:baseline-phone" })
							p +90 507 706 00 07 
					li 
						a(href="#")
							+iconify({ icon: "fa:envelope" })
							p info@citydeft.com
	.header_body 
		.section_in 
			.header_body__main
				.header_logo 
					a(href="#")
						img(src="", alt="")
				.header_nav 
					ul 
						li
							a(href="#")
								p Недвижимость
								ul 
									li 
										a(href="#") Эксклюзивные предложения
									li 
										a(href="#") Новостройка
									li 
										a(href="#") Вторичное жилье
									li 
										a(href="#") На берегу моря
									li 
										a(href="#") Для гражданства
									li 
										a(href="#") Для ВНЖ
						li
							a(href="#")
								p Услуги
								ul 
									li 
										a(href="#") Ознакомительный тур
									li 
										a(href="#") Онлайн подбор
									li 
										a(href="#") Продать недвижимость
									li 
										a(href="#") Послепродажный сервис
									li 
										a(href="#") Гражданство и ВНЖ
						li
							a(href="#")
								p О Компании
								ul 
									li 
										a(href="#") О нас
									li 
										a(href="#") Наша команда
									li 
										a(href="#") Вакансии
						li
							a(href="#")
								p Отзывы
						li
							a(href="#")
								p Полезное
								ul 
									li 
										a(href="#") Новости 
									li 
										a(href="#") Процедура покупки 
									li 
										a(href="#") Гражданство и ВНЖ 
									li 
										a(href="#") Статьи
						li 
							a(href="#")
								p Контакты  
				.header_actions 
					.header_callback Связаться
					.header_like 
						+iconify({ icon: "weui:like-filled" })
