-
	var navigation = [
		{
			name: 'Atrakcijas vecpuišu, kopropātīvajiem un pilsētas pasākumiem',
			link: '/',
		},
		{
			name: 'Pasākumu organizēšana',
			link: '/',
			submenu: [
				{
					name: 'Vecmeitu ballītes un dzimšanas dienas idejas. Ūdens zorbings',
					link: '/'
				},
				{
					name: 'Zorbinga trenings darbiniekiem',
					link: '/'
				},
				{
					name: 'Zorba volejbols',
					link: '/'
				},
			]
		}, 
		{
			name: 'Idejas izklaidei',
			link: '/',
			submenu: [
				{
					name: 'Idejas vecpuišu un vecmeitu ballītēm',
					link: '/'
				},
				{
					name: 'Idejas korporatīviem pasākumiem',
					link: '/'
				},
				{
					name: 'Idejas pilsētu un novadu svētkiem',
					link: '/'
				},
				{
					name: 'Idejas komandu saliedēšanas un sporta spēlēm',
					link: '/'
				},
				{
					name: 'idejas, kā aizņemt bērnu pusaudzi. Basic Outdoor Izdzīvošanas kurss',
					link: '/'
				},
				{
					name: '10 bezmaksas jautru spēļu idejas kompānijai',
					link: '/'
				},
			]
		}, 
		{
			name: 'Idejas Jūsu biznesam',
			link: '/',
			submenu: [
				{
					name: 'Pārdod aprīkojumu atrakciju biznesam',
					link: '/'
				},
				{
					name: 'Reklāma uz atrakcijam',
					link: '/'
				},
			]
		}, 
		{
			name: 'Personālais transfērs un atrakciju piegāde',
			link: '/'
		}
	]
.sidebar 
	nav.sidebar_nav 
		ul
			each navItem in navigation
				li
					a(href=navItem.link)
						p=navItem.name
						if navItem.submenu
							ul.sidebar_submenu
								each subItem in navItem.submenu
									li 
										a(href=subItem.link)=subItem.name
	.slider_post 
		.swiper 
			.swiper-container 
				.swiper-slide
					a(href="#")  
						.sliderPost__img 
							img(src="", alt="")
						.sliderPost__content 
							h3 Speciālais piedāvājums grupām
							p Speciālais piedāvājums grupām Speciālais piedāvājums grupām