section.choice 
    .section_in 
        .choice_main
            .choice_title 
                p Почему выбирают нас?
            .choice_columns
                .choice_left
                    ul.choice_actions__list
                        li.choice_actions__item
                            .choice_icon
                                img(src="", alt="")
                            .choice_content 
                                .choice_title
                                    h4 Лицензированное агентство
                                .choice_subtitle 
                                    p Мы обладаем большим опытом и хорошей репутацией на рынке.
                        li.choice_actions__item
                            .choice_icon
                                img(src="", alt="")
                            .choice_content 
                                .choice_title
                                    h4 Большая база объектов
                                .choice_subtitle 
                                    p Наша база включается в себя более 3000 объектов под любой запрос.
                        li.choice_actions__item
                            .choice_icon
                                img(src="", alt="")
                            .choice_content 
                                .choice_title
                                    h4 Гарантия результата
                                .choice_subtitle 
                                    p Мы подбираем объекты, которые соответствуют требованиям и желаниям клиента.
                .choice_middle
                    img(src="i/choice/choice.jpg", alt="")
                .choice_right
                    ul.choice_actions__list
                        li.choice_actions__item
                            .choice_icon
                                img(src="", alt="")
                            .choice_content 
                                .choice_title
                                    h4 Законность сделки
                                .choice_subtitle 
                                    p Все сделки мы проводим в соответствии с законодательством Турции.
                        li.choice_actions__item
                            .choice_icon
                                img(src="", alt="")
                            .choice_content
                                .choice_title
                                    h4 Помощь в оформлении ВНЖ и гражданства
                                .choice_subtitle 
                                    p Работаем с опытной правовой группой и помогаем с оформление ВНЖ и гражданства.
                        li.choice_actions__item
                            .choice_icon
                                img(src="", alt="")
                            .choice_content 
                                .choice_title
                                    h4 Послепродажный сервис
                                .choice_subtitle 
                                    p Мы на связи с нашими клиентами 24/7 и помогаем со всеми вопросами адаптации.