.global_form
    .global_form_main
        .global_form__name
            input(type="text" placeholder = "Введите имя")
        .global_form__number
            input(type="tel" placeholder = "Введите номер телефона")
        .global_form__button
            button
                p Отправить