.popup_send {
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include flex-center;
	transition: all .3s ease;
	opacity: 0;
	visibility: hidden;
	@include z-index(popup);
	@include bp($point_2) {
		padding: 0 2rem;
	}
	&.active {
		opacity: 1;
		visibility: visible;
		.popup_main {
			transform: translateY(0);
		}
	}
}
.popup_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $dark;
	opacity: .7;
}
.popup_main {
	background-color: $white;
	position: relative;
	max-width: 54rem;
	border-radius: 1rem;
	padding: 5rem;
	transform: translateY(10rem);
	transition: all .3s ease;
	@include bp($point_2) {
		padding: 5rem 2rem;
		max-height: 100%;
		overflow: auto;
	}
	form {
		box-shadow: none;
		padding: 0;
	}
}
.popup_close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	width: 1.5rem;
	height: 1.5rem;
	button {
		@include flex-center;
		color: $mediumBlue;
		transition: all .3s ease;
		&:hover {
			color: $pink;
		}
	}
}
.icon {
}
.icon-close {
}
.popup_title {
	margin-bottom: 4rem;
	@include bp($point_2) {
		margin-bottom: 2rem;
	}
	h3 {
		color: $dark;
		font-size: 2.2rem;
		text-transform: uppercase;
		line-height: 2.6rem;
		text-align: center;
		font-family: $font_3;
	}
}
.popup_form {
}
.global_form {
}
.global_input_w {
}
.global_input {
}
.global_textarea {
}
.popup_check {
}
.global_btn_w {
}
.popup_call {
}