.contacts {
    padding: 6rem 0;
}

.contacts_main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.contacts_big {
    text-align: center;
}

.contacts_big h4 {
    text-align: center;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 100%;
    color: $darker;
    font-family: $font_5;
}

.contacts_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-gap: 6rem;

    @include bp($point_2) {
        display: flex;
        flex-direction: column;
    }
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contacts_title h4 {
    font-size: 2.2rem;
    color: #555555;
    font-family: $font_6;
    font-weight: 500;
    line-height: 3rem;
    display: block;
    margin-bottom: 1rem;
}

.contacts_subtitle p {
    font-size: 1.8rem;
    font-family: $font_8;
    display: block;
    // max-width: 22rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: $darker;
}

.contacts_icons__list {
    display: flex;
    gap: 2rem;
}

.contacts_icons__item a {
    width: 4rem;
    height: 4rem;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #dddddd;
    border-radius: 0.5rem;
}

.contacts_icons__item a:hover {
    background-color: #b3b3b3;
}

.contacts_map {
    width: 100%;
}

.contacts_map iframe {
    width: 100%;
}