.hero {
	background-color: #424242;
	height: 100dvh;
	padding: 4rem;
}
.hero_main {
	border-radius: 2rem;
	height: 90dvh;
	background-color: #ffffff2a;
	@include flex-center;
	color: $white;
	h1 {
		color: $white;
		font-size: 6rem;
		letter-spacing: 0.4rem;
	}
}
