

.product {
	padding: 3rem 0 5rem 0;

	&__wrapper {
		display: flex;
		gap: 4.2rem;

		height: 54rem;
	}

	&__slider {
		max-width: 58rem;
		max-height: 39.8rem;
		margin: 0 0 1.8rem 0 !important;
		border-radius: 1rem;
		.swiper-wrapper {
			max-height: 39.8rem;
			width: 100%;
		}

		.swiper-slide {
			height: 39.8rem;
		}
	}
	&__slide {
		height: 100%;
		width: 100%;
		&__content {
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				object-fit: cover;
				border-radius: 1rem;
			}
		}
	}

	&__slider__mini {
		max-width: 58.4rem;
		box-sizing: border-box;
		padding: 10px 0;
		margin: 0 !important;

		.swiper-wrapper {
			width: 100%;
		}

		.swiper-slide {
			.product__slide__mini {
				&__content {
					max-width: 18.4rem;
					height: 12.6rem;

					border-radius: 1rem;

					img {
						object-fit: fill;
					}
				}
			}
		}

		.swiper-slide-thumb-active {
			border: 4px solid $yellow;
			border-radius: 1rem;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		background: $white;

		padding: 4rem 2rem 4rem 4.6rem;

		border-radius: 1rem;

		h2 {
			font-size: 3.5rem;
			font-family: $font_6;
			line-height: 4.5rem;
			color: $fontdarkgrey;
		}

		&__in-stok {
			display: flex;
			align-items: center;

			gap: 1rem;
			p {
				font-size: 1.8rem;
				font-family: $font_3;
				line-height: 3.5rem;
				color: $fontlightgrey;
			}

			&__chek-mark {
			}
		}

		&__description {
			font-size: 1.8rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&__application {
				display: flex;
				align-items: center;
				gap: 1rem;
			}

			p {
				font-family: $font_3;
				line-height: 3.5rem;
				color: $fontlightgrey;
			}

			span {
				color: $fontdarkgrey;
				font-family: $font_3;
				line-height: 3rem;
			}

			a {
				color: $yellow;
				font-family: $font_2;
			}

			.font-color-yellow {
				color: $yellow;
			}
		}

		&__price {
			font-family: $font_1;
			font-size: 4rem;
			color: $fontdarkgrey;
		}

		&__button-group {
			@include flex-space;

			.button {
				font-family: $font_1;
				font-size: 1.8rem;
				color: $fontdarkgrey;
				text-transform: uppercase;
				background-color: $yellow;
				padding: 1.8rem 3.6rem;
				border-radius: 12rem;
			}
		}
	}
}


.similar{
	padding: 5rem 0;

	.card__title-block {
		margin-bottom: 3.5rem;
		@include flex-space;
		color: $fontdarkgrey;

		@include bp(1024px) {
			display: none;
		}
		h2{
			font-family: $font_6;
			font-size: 5.5rem;
		}
		&__button {
			@include flex-center;
			padding: 0 3rem;
			border-radius: 12rem;
			background: $yellow;
			gap: 1.5rem;
			a {
				padding: 1.5rem 0;
				text-transform: uppercase;
				font-size: 1.6rem;
			}
		}
	}
	.card__item-block {
		@include flex-space;
		gap: 3.6rem;
		flex-wrap: wrap;

		@include bp(1024px) {
			display: none;
		}

		.item {

			padding: 1.5rem 1.5rem 2.5rem 1.5rem;
			background: $white;

			border-radius: 1rem;
			position: relative;

			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.5rem;

			&__logo {
				position: absolute;
				bottom: 0;
				right: 0;
				max-width: 17.5rem;
			}

			&__img {
				max-width: 34rem;
				img {
					border-radius: 1rem;
				}
			}

			&__info {
				max-width: 34rem;
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				&__in-stok {
					@include flex-start;
					gap: 1rem;
					&__chek-mark {
						max-width: 1.7rem;
					}
					p {
						font-size: 1.8rem;
						font-family: $font_3;
						color: $fontlightgrey;
						line-height: 3.5rem;
					}
				}
				&__title {
					font-size: 2rem;
					font-family: $font_3;
					line-height: 3rem;
				}
				&__manufacturer {
					p {
						line-height: 3.5rem;
						font-size: 1.8rem;
						font-family: $font_3;
						color: $fontlightgrey;
						a {
							font-family: $font_2;
							color: $yellow;
						}
					}

				}
				&__price {
					font-family: $font_1;
					color: $fontdarkgrey;
					font-size: 2.5rem;
				}
				&__button-block {
					@include flex-space;
					margin-top: 1.5rem;

					button {
						padding: 1.9rem 2.8rem;
						background: $yellow;
						border-radius: 12rem;
						font-family: $font_1;
						font-size: 1.8rem;
						text-transform: uppercase;
					}
				}
			}
		}
	}

	.card__title-block__mob {
		margin-bottom: 1.5rem;
		color: $fontdarkgrey;

		display: none;

		@include bp(1024px) {
			display: block;
		}

		text-align: center;

		h2{
			font-family: $font_6;
			font-size: 3.5rem;
		}
	}

	.card__item-block__mob {

		width: 100%;
		height: 100%;
		.swiper-slide {
			@include flex-center;
		}

		display: none;

		@include bp(1024px) {
			display: block;
		};



		.item {
			max-height: 60rem;
			max-width: 29rem;

			@include bp(680px) {
				max-width: 33rem;
			}

			padding: 1.5rem 1.5rem 2.5rem 1.5rem;
			background: $white;

			border-radius: 1rem;
			position: relative;

			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			&__logo {
				position: absolute;
				bottom: 0;
				right: 0;
				max-width: 17.5rem;
			}

			&__info {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				&__in-stok {
					@include flex-start;
					gap: 1rem;
					&__chek-mark {
						max-width: 1.7rem;
					}
					p {
						font-size: 1.8rem;
						font-family: $font_3;
						color: $fontlightgrey;
						line-height: 3.5rem;
					}
				}
				&__title {
					font-size: 2rem;
					font-family: $font_3;
					line-height: 3rem;
				}
				&__manufacturer {
					p {
						line-height: 3.5rem;
						font-size: 1.8rem;
						font-family: $font_3;
						color: $fontlightgrey;
						a {
							font-family: $font_2;
							color: $yellow;
						}
					}

				}
				&__price {
					font-family: $font_1;
					color: $fontdarkgrey;
					font-size: 2.5rem;
				}
				&__button-block {
					@include flex-space;
					margin-top: 1.5rem;

					button {
						padding: 1.9rem 2.8rem;
						background: $yellow;
						border-radius: 12rem;
						font-family: $font_1;
						font-size: 1.8rem;
						text-transform: uppercase;
					}
				}
			}
		}


		.card__custom-container__mob {
			@include flex-space;
			margin-top: 4rem;
			.card__slider-button-prev__mob{
				@include flex-center;
				background: $yellow;
				border-radius: 12rem;
				height: 3rem;
				width: 3rem;
				z-index: 10;
			}
			.card__slider-pagination__mob {
				@include flex-center;
				gap: 2.5rem;
				&__bullet {
					width: 1.2rem;
					height: 1.2rem;
					border-radius: 100%;
					background: $grey;
					&-active {
						background: $yellow;
					}
				}
			}
			.card__slider-button-next__mob {
				@include flex-center;
				background: $yellow;
				border-radius: 12rem;
				height: 3rem;
				width: 3rem;
				z-index: 10;
			}
		}
	}

	.card__button-block {
		display: none;

		@include bp(1024px) {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			margin-top: 4rem;
		}

		&__button__mob {
			max-width: 21rem;
			@include flex-center;
			padding: 0 3rem;
			border-radius: 12rem;
			background: $yellow;
			gap: 1.5rem;
			a {
				padding: 1.5rem 0;
				text-transform: uppercase;
				font-size: 1.6rem;
			}
		}
	}

}
