.page_head {
    position: relative;
    margin-bottom: 6rem;
    border-top: 0.1rem solid rgba(229, 229, 229, 0.368627451);
}

.page_head_main {
    display: flex;
}

.page_head_main_content {
    padding: 6rem 0;
    max-width: 50%;
    font-size: 2rem;
    line-height: 3rem;
    z-index: 2;
    font-family: $font_5;
}

.page_head_main_content h1 {
    margin-bottom: 6rem;
    line-height: 120%;
    color: $darkgrey;
}

.page_head_main_content h2 {
    margin-bottom: 2rem;
    line-height: 120%;
    color: $darkgrey;
    font-size: 3.2rem;
    font-family: $font_5;
}

.page_head_main_content p {
    font-family: $font_2;
}

.page_head_main_image {
    margin-left: -5%;
    display: block;
    pointer-events: none;
    height: 100%;
}

