// Fonts include //

@include font_face("AmaticSC-Bold", "AmaticSC-Bold", $font_path, 400);
@include font_face("Montserrat-Light", "Montserrat-Light", $font_path, 300);
@include font_face("Montserrat-Regular", "Montserrat-Regular", $font_path, 400);
@include font_face("Montserrat-Medium", "Montserrat-Medium", $font_path, 500);
@include font_face(
	"Montserrat-SemiBold",
	"Montserrat-SemiBold",
	$font_path,
	600
);
@include font_face("Montserrat-Bold", "Montserrat-Bold", $font_path, 700);
