.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-up {
	font-size: (10/10) * 1rem;
	width: (20/10) * 1em;
}
.icon-close {
	font-size: (15/10) * 1rem;
	width: (15/15) * 1em;
}
.icon-fb {
	font-size: (1/10) * 1rem;
	width: (1/1) * 1em;
}
.icon-phone {
	font-size: (26/10) * 1rem;
	width: (26/26) * 1em;
}
