.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-up {
	font-size:calc(10/10)*1rem;
	width:calc(20/10)*1em;
}
.icon-close {
	font-size:calc(15/10)*1rem;
	width:calc(15/15)*1em;
}
.icon-phone {
	font-size:calc(26/10)*1rem;
	width:calc(26/26)*1em;
}
