.about_blocks {
    background-color: #D7D7D7;
    overflow: hidden;
    margin-bottom: 6rem;
}

.about_blocks_main {
    display: flex;
    justify-content: space-between;
    background-color: #D7D7D7;
}

.about_blocks_right {
    @include bp($point_2) {
        display: none;
    }
}

.about_blocks_right__image {
    width: 50rem;
    height: 48rem;
}

.about_blocks_left {
    max-width: 62.7rem;
    margin-right: 5rem;
    padding: 6rem 0 4.3rem 0;

    @include bp($point_2) {
        margin-right: 0;
    }
}

.about_blocks_title h3 {
    font-size: 4.8rem;
    font-weight: 800;
    font-family: $font_5;
    color: $darker;

    @include bp($point_2) {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

.about_blocks_descr {
    padding: 3rem 0 6rem 0;
}

.about_blocks_descr p {
    font-size: 1.6rem;
    color: #555555;

    @include bp($point_2) {
        font-size: 1.8rem;
    }
}

.about_blocks_btn {
    background-color: #f5e084;
    cursor: pointer;
    padding: 1.1rem 4.5rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    border-radius: 0.6rem;
    transition: all 0.3s ease;
    justify-content: center;
    display: flex;
    align-items: center;
    display: inline-flex;
    position: relative;
}

.about_blocks_btn p {
    font-size: 1.6rem;
}

.about_blocks_btn_icon {
    width: 2rem;
    height: 1.8rem;
    margin-left: 0.5rem;
}

.about_blocks_btn_icon svg {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}