.choice_main {
    display: flex;
    flex-direction: column;
}

.choice_big {
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 100%;
    font-family: $font_5;
    margin-bottom: 4.7rem;
    text-align: center;

    @include bp($point_2) {
        font-size: 2.6rem;
    }
}

.choice_title {
    text-align: center;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 100%;
    font-family: $font_5;
}

.choice_subtitle {
    font-size: 1.8rem;

    @include bp($point_2) {
        font-size: 1.4rem;
    }
}

.choice_columns {
    display: flex;
    gap: 4rem;

    @include bp($point_2) {
        flex-direction: column;
    }
}

.choice_actions__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7rem;

    @include bp($point_2) {
        gap: 2rem;
    }
}

.choice_actions__item {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    align-items: flex-start;

    @include bp($point_2) {
        box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2509803922);
        border-radius: 0.7rem;
        padding: 2rem;
    }
}

.choice_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.choice_title h4 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.3rem;
    font-family: $font_5;
    color: $darker;
    text-align: start;

    @include bp($point_2) {
        font-size: 1.8rem;
    }
}

.choice_icon {
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fe753f2c;
    margin-right: 1.2rem;
    color: #FE753F;
    border-radius: .7rem;

    @include bp($point_2) {
        margin-bottom: 2rem;
        width: 2.4rem;
        min-width: 2.4rem;
        height: 2.4rem;
        padding: 0.3rem;
    }
}

.choice_actions__list:not(:last-child) {
    margin-bottom: 7rem;
}

.choice_middle {
    border-radius: 1rem;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;

    @include bp($point_2) {
        display: none;
    }
}

.choice_middle img {
    border-radius: 1rem;
}

