extends _layout

block vars
    - array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Отзывы'}

block content_block
    section.contacts
        .section_in
            .contacts_main 
                .contacts_big 
                    h4 Контакты
                .contacts_content
                    .contacts_left
                        ul.contacts__list
                            li.contacts__item
                                .contacts_title
                                    h4 Мы работаем:
                                .contacts_subtitle
                                    p Понедельник-пятница &mdash; <br> с&nbsp;09:00 до&nbsp;18:00 <br> суббота&nbsp;&mdash; с&nbsp;09:00 до&nbsp;15:30 <br> воскресенье&nbsp;&mdash; выходной
                            li.contacts__item
                                .contacts_title
                                    h4 Телефон:
                                .contacts_subtitle
                                    p +90&nbsp;507&nbsp;706 00 07 <br> На&nbsp;связи 24/7
                            li.contacts__item
                                .contacts_title
                                    h4 Электронная почта:
                                .contacts_subtitle
                                    p info@citydeft.com
                            li.contacts__item
                                .contacts_title
                                    h4 Наш офис:
                                .contacts_subtitle
                                    p Saray Mah. Oral Cad. 25/B Öztürk 2 Apt. Alanya / Antalya
                            li.contacts__item
                                .contacts_title
                                    h4 Мы в социальных сетях:
                                ul.contacts_icons__list 
                                    li.contacts_icons__item
                                        a(href="") 
                                            <svg data-v-538b2768="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="24" height="24" viewBox="0 0 24 24" class="iconify iconify--basil" style="color: currentcolor;"><path fill="currentColor" d="M14.2 2.875A4.625 4.625 0 0 0 9.575 7.5v2.575H7.1c-.124 0-.225.1-.225.225v3.4c0 .124.1.225.225.225h2.475V20.9c0 .124.1.225.225.225h3.4c.124 0 .225-.1.225-.225v-6.975h2.497c.103 0 .193-.07.218-.17l.85-3.4a.225.225 0 0 0-.218-.28h-3.347V7.5a.775.775 0 0 1 .775-.775h2.6c.124 0 .225-.1.225-.225V3.1c0-.124-.1-.225-.225-.225z"></path></svg>
                                                <path fill="currentColor" d="M14.2 2.875A4.625 4.625 0 0 0 9.575 7.5v2.575H7.1c-.124 0-.225.1-.225.225v3.4c0 .124.1.225.225.225h2.475V20.9c0 .124.1.225.225.225h3.4c.124 0 .225-.1.225-.225v-6.975h2.497c.103 0 .193-.07.218-.17l.85-3.4a.225.225 0 0 0-.218-.28h-3.347V7.5a.775.775 0 0 1 .775-.775h2.6c.124 0 .225-.1.225-.225V3.1c0-.124-.1-.225-.225-.225z"></path>
                                    li.contacts_icons__item
                                        a(href="") 
                                            <svg data-v-538b2768="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="24" height="24" viewBox="0 0 24 24" class="iconify iconify--basil" style="color: currentcolor;"><path fill="currentColor" fill-rule="evenodd" d="M6.989 4.89a64 64 0 0 1 10.022 0l2.24.176a2.725 2.725 0 0 1 2.476 2.268c.517 3.09.517 6.243 0 9.332a2.725 2.725 0 0 1-2.475 2.268l-2.24.175a64 64 0 0 1-10.023 0l-2.24-.175a2.725 2.725 0 0 1-2.476-2.268a28.3 28.3 0 0 1 0-9.332a2.725 2.725 0 0 1 2.475-2.268zM10 14.47V9.53a.3.3 0 0 1 .454-.257l4.117 2.47a.3.3 0 0 1 0 .514l-4.117 2.47A.3.3 0 0 1 10 14.47" clip-rule="evenodd"></path></svg>
                                                <path fill="currentColor" fill-rule="evenodd" d="M6.989 4.89a64 64 0 0 1 10.022 0l2.24.176a2.725 2.725 0 0 1 2.476 2.268c.517 3.09.517 6.243 0 9.332a2.725 2.725 0 0 1-2.475 2.268l-2.24.175a64 64 0 0 1-10.023 0l-2.24-.175a2.725 2.725 0 0 1-2.476-2.268a28.3 28.3 0 0 1 0-9.332a2.725 2.725 0 0 1 2.475-2.268zM10 14.47V9.53a.3.3 0 0 1 .454-.257l4.117 2.47a.3.3 0 0 1 0 .514l-4.117 2.47A.3.3 0 0 1 10 14.47" clip-rule="evenodd"></path>
                                    li.contacts_icons__item
                                        a(href="") 
                                            <svg data-v-538b2768="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="24" height="24" viewBox="0 0 24 24" class="iconify iconify--basil" style="color: currentcolor;"><path fill="currentColor" d="M12 8.75a3.25 3.25 0 1 0 0 6.5a3.25 3.25 0 0 0 0-6.5"></path><path fill="currentColor" fill-rule="evenodd" d="M6.77 3.082a47.5 47.5 0 0 1 10.46 0c1.899.212 3.43 1.707 3.653 3.613a45.7 45.7 0 0 1 0 10.61c-.223 1.906-1.754 3.401-3.652 3.614a47.5 47.5 0 0 1-10.461 0c-1.899-.213-3.43-1.708-3.653-3.613a45.7 45.7 0 0 1 0-10.611C3.34 4.789 4.871 3.294 6.77 3.082M17 6a1 1 0 1 0 0 2a1 1 0 0 0 0-2m-9.75 6a4.75 4.75 0 1 1 9.5 0a4.75 4.75 0 0 1-9.5 0" clip-rule="evenodd"></path></svg>
                                                <path fill="currentColor" d="M12 8.75a3.25 3.25 0 1 0 0 6.5a3.25 3.25 0 0 0 0-6.5"></path>
                                                <path fill="currentColor" fill-rule="evenodd" d="M6.77 3.082a47.5 47.5 0 0 1 10.46 0c1.899.212 3.43 1.707 3.653 3.613a45.7 45.7 0 0 1 0 10.61c-.223 1.906-1.754 3.401-3.652 3.614a47.5 47.5 0 0 1-10.461 0c-1.899-.213-3.43-1.708-3.653-3.613a45.7 45.7 0 0 1 0-10.611C3.34 4.789 4.871 3.294 6.77 3.082M17 6a1 1 0 1 0 0 2a1 1 0 0 0 0-2m-9.75 6a4.75 4.75 0 1 1 9.5 0a4.75 4.75 0 0 1-9.5 0" clip-rule="evenodd"></path>
                    .contacts_right 
                        .contacts_map
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d51283.21879440901!2d31.981881000000005!3d36.549262!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14dca3954b67a575%3A0x7bf2e9fe1bf2662b!2sDeft%20Group!5e0!3m2!1sru!2sru!4v1743063430175!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    +about_block({btn: false})