extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}

block content_block
	section.hero 
		.section_in 
			.hero_main 
				.hero_slider.swiper 
					.swiper-wrapper 
						.swiper-slide 
							.hero_slide
								a(href="#") 
									picture
										source(srcset="images/hero-desktop.jpg" media="(min-width: 768px)")
										img(src="images/hero-mobile.jpg" alt="Hero Image")
	section.home-filter 
		.section_in 
			include templates/filter
	section.popular 
		.section_in 
			.popular_main
				.section_head
					h2.section-title Лучшие предложения
					.section-link
						a(href="#") Смотреть все
				.popular__list 
					-for(i = 0; i < 12; i++)
						include templates/card
	+about_block({btn: false})