extends _layout

block vars
    - array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Новости'}

block content_block
    section.news
        .section_in
            .news_main
                .news_big
                    h4 Новости
                .news_content
                    ul.news_content__list
                        li.news_content__item
                            .news_image
                                img(src="i/news/news_1.jpg", alt="")
                            .news_descr
                                .news_title
                                    h4 Сбербанк возобновил переводы в Турцию
                                .news_subtitle
                                    p В&nbsp;мобильном приложении банка при переводах появилась страна Турция. Перевод можно осуществить сразу на&nbsp;карту турецког...
                                .news_button 
                                    a(href="") 
                                        p Читать полностью
                        li.news_content__item
                            .news_image
                                img(src="i/news/news_2.jpg", alt="")
                            .news_descr
                                .news_title
                                    h4 В&nbsp;домах Алании появится природный газ
                                .news_subtitle
                                    p Мэр города Аланья объявил, что жители Аланьи могут рассчитывать на&nbsp;природный газ в&nbsp;своих домах уже в&nbsp;марте. К&nbsp;газовой...
                                .news_button 
                                    a(href="") 
                                        p Читать полностью
                        li.news_content__item
                            .news_image
                                img(src="i/news/news_3.jpg", alt="")
                            .news_descr
                                .news_title
                                    h4 Статистика по&nbsp;продажам недвижимости
                                .news_subtitle
                                    p По&nbsp;данным Статистического управления страны TUIK, всего за&nbsp;период 2023 года было продано 25&nbsp;134 объекта недвижимости....
                                .news_button 
                                    a(href="") 
                                        p Читать полностью
                        li.news_content__item
                            .news_image
                                img(src="i/news/news_4.jpg", alt="")
                            .news_descr
                                .news_title
                                    h4 Инвесторы выбирают Турцию
                                .news_subtitle
                                    p За&nbsp;2023 год зарегистрировано&nbsp;11% иностранных компаний в&nbsp;Анталии, а&nbsp;именно: Открыто 255 российских компаний85&nbsp;компаний...
                                .news_button 
                                    a(href="") 
                                        p Читать полностью
                        li.news_content__item
                            .news_image
                                img(src="i/news/news_5.jpg", alt="")
                            .news_descr
                                .news_title
                                    h4 В&nbsp;Турции введут новый вид визы
                                .news_subtitle
                                    p В&nbsp;Турции введут новую визу T&uuml;rkiye Tech Visa для технологических предпринимателей, обладающих инновационными бизнез-м...
                                .news_button 
                                    a(href="") 
                                        p Читать полностью
    +about_block({btn: false})