extends _layout

block vars
    - array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Отзывы'}

block content_block
    section.reviews
        .section_in
            .reviews_main 
                .reviews_big 
                    h4 Отзывы
                .reviews_content 
                    ul.reviews_content__list
                        li.reviews_content__item
                            .reviews_left
                                img(src="i/reviews/reviews-1.jpeg", alt="")
                            .reviews_right
                                .reviews_title 
                                    h4 Клиент Ирина стала собственником квартиры на&nbsp;берегу моря в&nbsp;районе Махмутлар с&nbsp;целью инвестирования
                                .reviews_subtitle
                                    p Менеджер Александра сделала онлайн подбор квартир по&nbsp;желанию клиента, после чего был организован инфо-тур с&nbsp;проживанием в&nbsp;отеле и&nbsp;трансфер. Ирина выбрала вариант с&nbsp;шикарной локацией в&nbsp;300 метрах от&nbsp;моря вблизи с&nbsp;городской инфраструктурой. Мы&nbsp;оперативно подготовили все необходимые документы для заключения сделки и&nbsp;оформления ТАПУ. Сейчас квартира находится в&nbsp;рамках нашего послепродажного сервиса и&nbsp;подготавливается для сдачи в&nbsp;аренду.
                        li.reviews_content__item
                            .reviews_left
                                img(src="i/reviews/reviews-2.jpeg", alt="")
                            .reviews_right
                                .reviews_title 
                                    h4 Молодая семья из&nbsp;Санкт-Петербурга стали владельцами просторных апартаментов и&nbsp;переехали жить в&nbsp;Аланию
                                .reviews_subtitle
                                    p Они стали владельцами просторных апартаментов, полностью укомплектованных мебелью и&nbsp;техникой, в&nbsp;одном из&nbsp;самых перспективных, современных, а&nbsp;главное, спокойных районов Алании. Мы&nbsp;оперативно подготовили все необходимые документы для заключения сделки и&nbsp;уже на&nbsp;руки клиентам выдали ТАПУ. ️Наша задача обеспечить комфорт своих клиентов как&nbsp;до, так и&nbsp;после сделки, именно поэтому мы&nbsp;предлагаем лучшие условия и&nbsp;качественный сервис.
                        li.reviews_content__item
                            .reviews_left
                                img(src="i/reviews/reviews-3.jpeg", alt="")
                            .reviews_right
                                .reviews_title 
                                    h4 Анастасия приобрела квартиру в&nbsp;новом комлпексе Махмутлара с&nbsp;целью проживания и&nbsp;инвестирования
                                .reviews_subtitle
                                    p Анастасия приобрела новую квартиру с&nbsp;отделкой в&nbsp;комплексе с&nbsp;полноценной инфраструктурой.Клиент выбрала понравившуюся квартиру онлайн, и&nbsp;ничуть не&nbsp;пожалела о&nbsp;своём выборе! Мы&nbsp;учли все пожелания и&nbsp;подобрали прекрасный вариант в&nbsp;тихом районе с&nbsp;завораживающим видом и&nbsp;пешей доступностью к&nbsp;морю. Оперативно подготовили документы, решили все юридические вопросы и&nbsp;после покупки мы&nbsp;не&nbsp;расстаёмся! А&nbsp;продолжаем помогать с&nbsp;обустройством квартиры.