extends _layout

block vars
    - array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Новости'}

block content_block
    +page_head({title:"Покупка квартиры в Турции состоит из нескольких этапов:", subtitle:"Определяемся с объектом недвижимости", text: "Для начала, необходимо определить «Какой тип жилья вы рассматриваете для покупки?». Это могут быть апартаменты, дуплекс или даже вилла.", image: "i/services/services-1.png"})
    section.services_content
        .section_in
            .services_content_main
                h2 Заказать инфо-тур
                p Прекрасная возможность вживую увидеть Аланью и&nbsp;будущую квартиру. Мы&nbsp;предоставляем транспортное сопровождение и&nbsp;проживание в&nbsp;пятизвездочном отеле с&nbsp;концепцией Ultra All Inclusive на&nbsp;период подбора вариантов недвижимости.
                h2 Подбор и просмотр объектов
                p На данном этапе определяется бюджет, площадь и желаемый район. Также, учитываются количество комнат, наличие внутренней и городской инфрастуктуры. Менеджер подбирает подходящие варианты и проводит просмотр понравившися объектов, рассказывает о характеристиках и особенностях.
                h2 Подписание договора
                p После выбора будущего жилья составляется официальный договор на 2-х языках, в котором прописываются: паспортные данные собственников, полная информация об объекте, точная стоимость, права и обязанности сторон. ️Важно отметить, что на этом этапе покупатель вносит авансовый платеж.
                h2 Оформление права собственности и получение TAPU
                p Оформление права собственности и получение ТАПУ (TAPU) — это акт о праве собственности в Турции, который подтверждает полное право на владение объектом недвижимости.
                h2 Заключение договоров на коммунальные услуги
                p После сделки и получения всех документов, необходимо оформить и подключить (электричество, газ, воду, интернет) на ваше имя.
    +about_block({btn: false})