
// Сброс стилей input
@mixin app {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	font-family: $font_1;
	font-size: $font_size_base;
}

// Input end


// Flex styles

@mixin flex-center {
	justify-content: center;
	display: flex;
	align-items: center;
}

@mixin flex-col {
	flex-direction: column;
}

@mixin flex-start {
	justify-content: flex-start;
	display: flex;
	align-items: center;
}

@mixin flex-space {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

@mixin flex-end {
	justify-content: flex-end;
	display: flex;
	align-items: center;
}

// End flex styles

// Style default btn


@mixin btn {
	position: relative;

	&.blue {

		button {
			overflow: hidden;
			padding: 2.5rem 3.8rem;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), $blue;
			background-blend-mode: overlay, normal;
			border-radius: 1rem;
			color: $white;
			font-size: 2.2rem;
			position: relative;
			@include bp($point_2) {
				font-size: 2rem;
			}
 		}
	
		&:before {
			position: absolute;
			bottom: -1.1rem;
			width: 100%;
			height: 3rem;
			content: '';
			background: $blue;
			opacity: .5;
			filter: blur(1rem);
			border-radius: 4.7rem;
			max-width: 90%;
			left: 50%;
			transform: translateX(-50%);
			pointer-events: none;
		}
	}

	&.pink {

		button {
			overflow: hidden;
			padding: 2.5rem 3.8rem;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), $pink;
			background-blend-mode: overlay, normal;
			border-radius: 1rem;
			color: $white;
			font-size: 2.2rem;
			position: relative;
			width: 100%;
			@include bp($point_2) {
				font-size: 1.8rem;
			}
		}
	
		&:before {
			position: absolute;
			bottom: -1.1rem;
			width: 100%;
			height: 3rem;
			content: '';
			background: $pink;
			opacity: .5;
			filter: blur(1rem);
			border-radius: 4.7rem;
			max-width: 90%;
			left: 50%;
			transform: translateX(-50%);
			pointer-events: none;
		}
	}
}