.product 
	.product_img 
		a(href="#")
			img(src="", alt="")
			ul.product__properties 
				li Скидка 
				li Лучшая цена
	.product_content
		.product_content__head
			a(href="#") 
				h3.product_title Просторные апартаменты 6+1
			.product_like 
				+iconify({ icon: "weui:like-filled" })
		.product_content__body
			.product_content__address 
				+iconify({ icon: "weui:like-filled" })
				p Оба
			ul.product__properties 
				li 
					+iconify({ icon: "weui:like-filled" })
					p 6
				li 
					+iconify({ icon: "weui:like-filled" })
					p 6
				li 
					+iconify({ icon: "weui:like-filled" })
					p 6
		.product_content__footer 
			.product_price 399.000
			.product_btn
				a(href="#") Смотреть обьект